<h1>Designers</h1>
<div class="designer new-button">
    <%= button_to 'Add New Designer', new_designer_path, method: :get %>
</div>
<div class="designers list">
  <ul> 
    <% @designers.each do |d| %>
      <li><%= link_to d.name, designer_path(d) %></li>
    <% end %>
  </ul>
</div>
