 <tr>
      <td>
        <strong><%= review_subject(@review) %></strong>
      </td><td>
        <strong>Rating: </strong><%= @review.rating %>/10
      </td>
    </tr><tr>
      <td>
        <%= @review.review_text %>
      </td>
    </tr><tr><td><br /></td></tr>