<h1>
  <% if @nested_resource.is_a? BoardGame %>
    Reviews for <%= @nested_resource.title %>
  <% else %>
    <%= nested_resource.email %>'s Reviews
  <% end %>
</h1>
<table>
  <% @reviews.each do |r| %>
    <td>
      <strong><%= review_subject(r) %></strong>
    </td>
    <%= @review = r; render 'display_review', review: @review %>
  <% end %>
</table>
